@import "../globals";
@import "../mixins";

.hero {
    margin-top: 18vh;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: space-between;
    color: hsl(0, 0%, 100%);

    @include min768 {
        margin-bottom: 150px;
    }
    
    
    &__title {
        flex-basis: 100%;

        @include min768 {
            flex-basis: 50%;
        }
        h1 {
            font-weight: 400;
            font-size: 1.5rem;
            margin-bottom: 30px;
            margin-top: 0;

            @media (min-width: 450px) {
                font-size: 2rem;
            }
        }

        p {
            font-size: 0.8rem;
            font-weight: 300;
            margin: 1rem 0;
        }
        &-link {
            display: inline-block;
            color: #24e3bb;
            font-size: 300;
            margin-bottom: 25px;
            cursor: pointer;

            &:hover {
                color: wheat;
            }
            a {
                display: inline-block;
                font-size: 2em;
                color: #24e3bb;
                margin-left: 10px;
            }
        }

    }

    &__video-container {
        flex-basis: 100%;
        position: relative;
        height: 400px;

        @include min768 {
            flex-basis: auto;
            flex-grow: 1;
            position: relative;
            padding-bottom: 30%;
            height: 0;
            margin-top: 0;
        }
        video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        }
    }

    &__icons {
        span {
            display: inline-block;
            margin: 0 3px;
            width: 35px;
            height: 35px;
            font-size: 1.1em;
            line-height: 35px;
            text-align: center;
            border: 1px solid white;
            border-radius: 50%;
            cursor: pointer;

            &:hover {
                transform: translateY(-1px);
                color: wheat;
            }
        }
        span:nth-child(1){
            margin-left: 0;
        }
    }
    
}